<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Hello toDoList</title>
	<link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
	<h1>All your tasks: </h1>

	<form action="#" th:action="@{/onDay}" th:object="${dateContainer}" method="post">
		<input type="date" th:field="*{date}">
		   
		<button type="submit">Show this day</button>
	
	</form>
	
	<hr>
	
	<div>
		<table>
			<thead>	
				<tr>
					<td>Task date</td>
					<td>Title</td>
					<td>Description</td>
					<td>Action</td>
				</tr>
			</thead>
			<tbody>
				<tr th:each="task : ${tasks}">
					<td th:text="${#temporals.format(task.dateTime,'yyyy-MM-dd HH:mm')}"/>
					<td th:text="${task.title}"/>
					<td th:text="${task.description}">
					<td th:class="center">
						<a th:href="@{/showEditForm(taskId=${task.id})}">Edit</a>/
						<a th:href="@{/delete(taskId=${task.id})}">Delete</a>
					</td>
				</tr>
			</tbody>
		</table>
		
		<a th:class="addButton" th:href="@{/showAddForm}">Add task</a> <br>
		<a th:href="@{/}">Show today's tasks</a>
		
	</div>
</body>
</html>